<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnServ | Error 404 - Not Found</title>
  <link rel="stylesheet" href="./css/404.css">
</head>

<body>
  {{>navbar}}
  <h1>oopps ... 404 error</h1>
  <div class="ufo">

    <div class="monster" style="color: #7cb342">
      <div class="body">
        <div class="ear"></div>
        <div class="ear"></div>
        <div class="vampi-mouth">
          <div class="vampi-tooth"></div>
        </div>
      </div>
      <div class="eye-lid">
        <div class="eyes">
          <div class="eye"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="./js/404.js"></script>
</body>

</html>