<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/global.css" />
</head>
<body>

  <!-- Navbar -->
  <header class="nav-container">
    <!-- Logo -->
    <a href="/" class="nav-logo">
    <img src="https://ik.imagekit.io/dlvosppac/DSWR.png?updatedAt=1758034608958" alt="DSWR Logo">
  </a>

    <!-- Links -->
    <ul class="nav-links" id="navLinks">
      <li class="nav-li"><a href="/" class="nav-a">Home</a></li>
      {{!-- <li class="nav-li"><a href="#" class="nav-a">Courses</a></li> --}}
      <li class="nav-li"><a href="/services" class="nav-a">Services</a></li>
      <li class="nav-li"><a href="/projects" class="nav-a">Projects</a></li>
      <li class="nav-li"><a href="/resources" class="nav-a">Resources</a></li>
      <li class="nav-li"><a href="/youtube" class="nav-a">YouTube</a></li>
      {{!-- <li class="nav-li"><a href="/community" class="nav-a">Community</a></li> --}}
      <li class="nav-li"><a href="/about" class="nav-a">About</a></li>
       
    </ul>

    <!-- Hamburger -->
    <div class="nav-toggle" id="navToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>

  <!-- JS -->
  <script src="/js/navbar.js"></script>
</body>
</html>
{{!-- <!--resource-->
<nav class="navbar">
  <div class="logo">DSWR</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/resources">Resources</a>
      <ul class="dropdown">
        <li><a href="/resources/python">Python</a></li>
        <li><a href="/resources/sql">SQL</a></li>
        <li><a href="/resources/maths">Maths</a></li>
        <li><a href="/resources/ml">Machine Learning</a></li>
        <li><a href="/resources/dl">Deep Learning</a></li>
        <li><a href="/resources/nlp">NLP</a></li>
        <li><a href="/resources/cv">Computer Vision</a></li>
      </ul>
    </li>
  </ul>
</nav> --}}
