@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #6c5ce7; /* Main Purple */
  --secondary: #a29bfe; /* Light Purple */
  --background: #ffffff;
  --text-dark: #2d3436;
  --text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
